_:-ms-lang(x), .white-triangle { height:50vh; } 
_:-ms-lang(x), .black-triangle { height:50vh;top:50vh; } 
_:-ms-lang(x), .themanP { top:0;right:initial;width:90%;padding:50px; } 
_:-ms-lang(x), .theplanP { bottom:0;right:initial;width:90%;padding:50px; } 
_:-ms-lang(x), .icon { margin-left:-50px; } 
_:-ms-lang(x), .icon-mars { margin-left:50px; } 


