body {
    background-color: #111;
    overflow-x: hidden;
    font-family:sans-serif;
}

#header-div {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.randomEle {
    display: inline-block;
    position: fixed;
    background-color: #111;
}

#main-text {
    color: #fff;
    text-align: center;
    font-size: 300%;
    margin-top: 30vh;
    padding: 0 50px;
    display: none;
}
.accordion {
    display:none;
}
#begin {
    background: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30vh;
    margin-left: calc(50vw - 100px);
    cursor: pointer;
    width: 200px;
    outline: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

#begin:hover {
    color: #69C6DD;
    border-color: #69C6DD;
}

.sound-text {
    display:block;
    color:#fff;
    text-align:center;
    margin-top:25vh;
    text-transform: uppercase;
    cursor:pointer;
}
.soundOn {
    color:greenyellow;
}
.soundOff {
    color:red;
}
.headphones-text {
    color:#fff;
    text-align:center;
    font-size:80%;
    margin-top:100px;
    text-transform: uppercase;
}
.fa-headphones {
    margin-top:10px;
    font-size:200%;
}

#stats-box {
    color:#fff;
    width:30vw;
    text-align:center;
    margin:10vh auto;
    display:none;
    text-transform: uppercase;
}
.blue {
    color:#69C6DD;
}
.goneButNot {
    text-align:center;
    color:#fff;
    text-transform: uppercase;
    display:none;
}
.names {
    z-index: 999;
    color:#69C6DD;
    text-align:center;
    text-transform: uppercase;
    display:none;
}

.hover-tut {
    color:#fff;
    text-align:center;
    display:none;
    margin-bottom:0;
}
.hover-tut:hover {
    color:#69C6DD;
    -webkit-transition:1s;
    transition:1s;
}
.down-arrow {
    color:#69C6DD;
    margin: 0;
    margin-left:10px;
    margin-right:10px;
}
.down-arrow:hover {
    color:#fff;
}

/* Mobile styles */

@media only screen and (max-width: 500px) {
    #main-text {
        margin-top: 10vh;
    }
    
    #stats-box {
        width:90vw;
    }
    .mobile-margin {
        padding:0;
    }
}
